# For local development, always use the local IP Address, otherwise
# the EXPO GO mobile app will not be able to access the backend.
# EXPO_PUBLIC_BACKEND_API_URL=http://192.168.178.192:8080
EXPO_PUBLIC_BACKEND_API_URL=http://localhost:8080
